[class*="ymaps-2"][class*="-copyright__wrap"] {
  display: none;
}

[class*="ymaps-2"][class*="-map-copyrights-promo"] {
  display: none;
}

[class*="ymaps-2"][class*="-balloon__tail"] {
  display: none;
}

[class*="ymaps-2"][class*="-balloon__content"] {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 18px;
  line-height: 26px;
}