@import "map_ya";

.b_map {
  background-color: $bg_gray;
  padding: 75px 66px 210px 66px;
  color: $f_c_white;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../img/Union3.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 157px;
  }
}

.b_map__title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 30px;
  line-height: 34px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -60px;
    background-image: url('../img/marker.svg');
    background-position: center;
    background-size: cover;
    width: 44px;
    height: 58px;
  }
}

.b_map__subtitle {
  font-weight: 600;
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 15px;
}

.b_map__phone {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 26px;
  line-height: 29px;
}

.b_map__address {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

.b_map__separator {
  height: 80px;
}

#yaMap {
  height: 440px;
  margin-top: 50px;
  margin-bottom: -285px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
  margin-left: -50px;
  margin-right: -50px;
}

@import "map_576";
@import "map_768";
@import "map_1200";