$f_c_black: #000000;
$f_c_gray: #101010;
$f_c_gray_light: #808080;
$f_c_gray_lighten: #BFBFBF;
$f_c_red: #A61744;
$f_c_brown: #D0AE85;
$f_c_white: #fff;

$bg_red: #A61744;
$bg_white: #fff;
$bg_gray: #303030;

$border_gray: #BFBFBF;