.b_tabs {
  padding-top: 44px;
}

.b_tabs__title {
  padding: 0 20px;
}

.b_tabs__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
  padding: 0 20px;
}

.b_tabs__list__item {
  margin-right: 70px;
  font-weight: 600;
  font-size: 30px;
  line-height: 34px;
  color: $f_c_black;
  border-bottom: 5px solid transparent;
  cursor: pointer;
  padding-bottom: 1px;

  &.active, &:hover {
    color: $f_c_red;
    border-color: $f_c_red;
  }
}

.b_tab__items {
}

.b_tab__item {
  display: none;

  &.active {
    display: block;
  }
}

.b_tab__item__gray {
  background-color: $bg_gray;
}

.b_tab__item__text_clear {
  padding: 49px 20px;
}

.b_tab__item__text {
  color: $f_c_white;
  padding: 49px 47px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;

  & h1, & .h1, & h2, & .h2, & h3, & .h3 {
    color: $f_c_brown;
  }
}

.b_tab__item__img_fill {
  max-height: 665px;
  overflow: hidden;
}

.b_tab__item__video {
  padding: 76px 120px;
}

.b_tab__item__red {
  background: radial-gradient(119.11% 121.88% at 86.25% 18.44%, rgba(203, 35, 35, 0.74) 0%, rgba(170, 65, 65, 0) 100%), $bg_red;
  background-color: $bg_red;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 121px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("../img/Union.svg");
  }

  .b_tab__item__text {
    padding: 49px 200px 49px 0;
  }

}