@media (min-width: 768px) {
  .b_tabs__title {
    padding: 0 20px;
  }
  .b_tabs__list {
    padding: 0 20px;
  }
  .b_tabs__list__item {
    font-size: 30px;
    line-height: 34px;
    margin-right: 70px;
  }
  .b_tab__item__text {
    padding: 49px 0;
  }
  .b_tab__item__video video {
    height: 464px
  }

}

